<h1>Edit User: <%= @user.name %></h1>

<%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.input :email, :placeholder => 'user@domain.com' %>
  <br />
  <%= f.button :submit %>
<% end %>
